.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.containerForm {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  color: #555;
}

.subtitle {
  text-align: center;
  margin-bottom: 20px;
  color: #888;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  font-size: 17px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkboxLabel a {
  color: #000;
  text-decoration: underline;
}

.button {
  padding: 12px;
  border-radius: 5px;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}
